# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build*/
altbuild

# Ignore resources dir which will eventually hold binaries
resources

casadi
casadi-aarch64
casadi-x86_64
casadi-static
runlibs
lib
*.log

.vscode

bin

.DS_Store

# compile_commands
compile_commands.json

# clangd cache
.clangd/
.cache/

# Ignore node
node_modules

# Ignore rust build
Cargo.lock
target/
