name: Build Rust

on: [pull_request, push]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  build-rust:
    strategy:
      fail-fast: false
      matrix:
        include:
          - artifact-name: Rust Native - Windows x86_64 (CasADi)
            os: windows-2022
            rust-target: x86_64-pc-windows-gnu

          - artifact-name: Rust Native - macOS x86_64 (CasADi)
            os: macOS-12
            rust-target: x86_64-apple-darwin

          - artifact-name: Rust Native - macOS arm64 (CasADi)
            os: macOS-12
            rust-target: aarch64-apple-darwin

          - artifact-name: Rust Native - Linux x86_64 (CasADi)
            os: ubuntu-latest
            rust-target: x86_64-unknown-linux-gnu

    name: "${{ matrix.artifact-name }}"
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3

      - name: Set up MinGW
        if: matrix.os == 'windows-2022'
        uses: egor-tensin/setup-mingw@v2
        with:
          platform: x64
          version: 12.2.0

      - name: Set up Rust
        uses: hecrj/setup-rust-action@v1
        with:
          targets: ${{matrix.rust-target}}

      - name: Set up Clang
        if: matrix.os != 'macOS-12'
        uses: egor-tensin/setup-clang@v1
        with:
          version: latest
          platform: x64

      - name: Build Rust
        working-directory: rust
        run: cargo build --target ${{ matrix.rust-target }}

      - name: Run Rust
        if: matrix.rust-target != 'aarch64-apple-darwin' && matrix.rust-target != 'x86_64-pc-windows-gnu'
        working-directory: rust
        run: cargo run --example swerve --target ${{ matrix.rust-target }}
