name: Build

on: [pull_request, push]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        include:
          - artifact-name: Native - Windows (CasADi)
            # FIXME: Tests give "Exit code 0xc0000135" for missing DLLs
            cmake-flags: "-G \"MinGW Makefiles\" -DBUILD_TESTING=OFF"
            optimizer_backend: casadi
            os: windows-2022
          - artifact-name: Native - macOS x86_64 (CasADi)
            cmake-flags:
            optimizer_backend: casadi
            os: macOS-13
          - artifact-name: Native - macOS arm64 (CasADi)
            cmake-flags:
            optimizer_backend: casadi
            os: macOS-14
          - artifact-name: Native - Linux x86_64 (CasADi)
            cmake-flags:
            optimizer_backend: casadi
            os: ubuntu-latest
          - artifact-name: Native - Windows x86_64 (Sleipnir)
            # FIXME: Tests give "Exit code 0xc0000135" for missing DLLs
            cmake-flags: "-DCMAKE_GENERATOR_PLATFORM=x64 -DBUILD_TESTING=OFF"
            optimizer_backend: sleipnir
            os: windows-2022
          - artifact-name: Native - Windows aarch64 (Sleipnir)
            # FIXME: Tests give "Exit code 0xc0000135" for missing DLLs
            cmake-flags: "-DCMAKE_GENERATOR_PLATFORM=ARM64 -DBUILD_TESTING=OFF"
            optimizer_backend: sleipnir
            os: windows-2022
          - artifact-name: Native - macOS x86_64 (Sleipnir)
            cmake-flags:
            optimizer_backend: sleipnir
            os: macOS-13
          - artifact-name: Native - macOS arm64 (Sleipnir)
            cmake-flags:
            optimizer_backend: sleipnir
            os: macOS-14
          - artifact-name: Native - Linux x86_64 (Sleipnir)
            cmake-flags:
            optimizer_backend: sleipnir
            os: ubuntu-latest

    name: "${{ matrix.artifact-name }}"
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Set up MinGW
        if: matrix.os == 'windows-2022' && matrix.optimizer_backend == 'casadi'
        run: |
          choco upgrade mingw --version=11.2.0 -y --no-progress --allow-downgrade
          echo C:\ProgramData\chocolatey\lib\mingw\tools\install\mingw64\bin >> $env:GITHUB_PATH

      - run: cmake -B build -S . ${{ matrix.cmake-flags }} -DOPTIMIZER_BACKEND=${{ matrix.optimizer_backend }}
      - run: cmake --build build --config RelWithDebInfo --parallel $(nproc)
      - run: ctest --test-dir build -C RelWithDebInfo --output-on-failure
      - run: cmake --install build --config RelWithDebInfo --prefix pkg

      - uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact-name }}
          path: pkg
